[2014-10-07 13:13] mahlmann opened #2 "US-Subset-openETCS-Translation (Word -> ReqIF) Prio: 750"
As a modeler (WP3) and validator (WP4), I want to create a traceability with the official Subset-26.

https://github.com/openETCS/toolchain/labels/US-Subset-openETCS-Translation

For now, we realize the traceability by importing Subset-26 "as is" into openETCS.  Moritz (DB) is currently working on an importer that can do this repeatedly.

We will track this as a user story, so that we can close ht

[2014-10-07 13:15] mahlmann opened #3 "US-Test-Plan Prio: 800"
As the project office (WP1) I must ensure that a test plan is created, in accordance with our project obligations.

As the tool developer (WP7), I need to ensure high quality by creating and implementing a test plan.

https://github.com/openETCS/toolchain/labels/US-Test-Plan

[2014-10-07 13:18] mahlmann opened #4 "US-Toolchain-CI-Automation Prio: 249"
As a user of the toolchain (WP3 and WP4), I want to be notified when updates are available and install them with a single click.

https://github.com/openETCS/toolchain/labels/US-Auto-Update

[2014-10-07 13:19] mahlmann opened #5 "US-SysML-to-Scade Prio: 95"
As a modeler, I need the Papyrus SysML system model to be in sync with the Scade Suite top-level model, so that we have a consistent software design.

[2014-10-07 13:20] mahlmann opened #6 "US-Qualification-Plan Prio: 900"
As a project leader (WP1), I need to ensure that a qualification plan is produced.

Elaborate in detail what this backlog item is actually about.

[2014-10-07 13:22] mahlmann opened #7 "US-SysML-to-B Prio: 50"
As a modeler (WP3), I want to transform SysML to B, so that we have an alternative to Scade.

[2014-10-07 13:23] mahlmann opened #8 "US-Scade-Traceability Prio: 60"
As a modeler (WP3) or validator (WP4), I want to be able to create and access traces to requirements and SysML.

[2014-10-07 13:26] mahlmann opened #9 "US-User-Docu Prio: 750"
As a modeler (WP3) or validator (WP4), I want to have comprehensive documentation of the tool chain, so that I find answers quickly both as a new and as advanced user.

https://github.com/openETCS/toolchain/labels/US-User-Docu

[2014-10-07 13:31] mahlmann opened #10 "US-Developer-Docu Prio: tbd"
As a developer (WP7), I want to have clear development guidelines

[2014-10-07 13:36] mahlmann opened #11 "US-Luna-Migration Prio: 250"
As a modeler (WP3), I need a toolchain based on Luna, so that I can take advantage of the latest Papyrus improvements.

https://github.com/openETCS/toolchain/labels/US-Luna-Migration

Responsible: @MatthieuPERIN

Things to be done:

- [ ] Inform WP7
- [ ] Check with existing plugins in Platform
- [ ] Check implications with Scade API
- [ ] Implication with WP3 model
- [ ] Proper testing, pilot, re

[2014-10-07 13:38] mahlmann opened #12 "US-Team-Support Prio: 770"
As a modeler (WP3) and validator (WP4), I want to be able to work concurrently with other users.

https://github.com/openETCS/toolchain/labels/US-Team-Support

[2014-10-07 13:39] mahlmann opened #13 "US-Model-Validation Prio: 250"
As a modeler (WP3) and validator (WP4), I want automatic SysML model validation.

[2014-10-07 13:39] mahlmann opened #14 "US-Toolchain-Quality Prio: tbd"
As tool vendor (WP7), I want to offer my customers a toolchain of high quality.

[2014-10-07 13:40] mahlmann opened #15 "US-SysML-Traceability Prio: 61"
As a modeler (WP3) and validator (WP4), I want traceability between ProR requirements and SysML model elements, so that I can understand how the requirements have been modelled.

[2014-10-07 13:41] mahlmann opened #16 "US-Latex-Traceability Prio: 52"
Details at https://github.com/openETCS/validation/issues/74

[2014-10-07 13:42] mahlmann opened #17 "US-Papyrus-Print Prio: tbd"
As a Validator (WP4), I want to "print" papyrus models, so that they can be made part of a report. (TODO: ensure it's part of the release)

[2014-10-07 13:42] mahlmann opened #18 "US-Consistent-DataDictionary Prio: tbd"
As a modeler and validator, I want guaranteed consistency between all instances of data dictionary data.

[2014-10-07 13:43] mahlmann opened #19 "US-Test-Meta-Model Prio: 43"
As a validator (WP4), I need a meta model to represent tests that is aligned with the data dictionary.

[2014-10-07 13:44] mahlmann opened #20 "US-Data-Dictionary Prio: 300"
As a modeler (WP3) and validator (WP4), I need a user-friendly data dictionary, so that I can work effectively.

https://github.com/openETCS/toolchain/labels/US-Data-Dictionary

[2014-10-15 14:11] #17 closed, assigned to jastram

[2014-10-15 14:29] jastram opened #21 "US-Modeling-Process-Description Prio: 500"
As a Modeler, I need a concise process description, to comply with EN50128

[2014-10-15 14:30] jastram opened #22 "US-Provide-V&V-Process-Description Prio: 217"
As a V&V expert, I need a concise process description, to comply with EN50128

[2014-10-15 14:45] jastram opened #23 "US-Report-Generation Prio: 205"
As a modeler, I need a report generated, containing SysML Model(s), types, etc. so that we have compliance with EN 50128.

https://github.com/openETCS/toolchain/labels/US-Report-Generation

[2014-10-30 15:33] UweSteinkeFromSiemens opened #24 "US-Concurrent-Verification-and-Validation Prio: 233"
As the responsible owner of the openETCS delivery  I need all relevant architecture + design + implementation + safety related activities concurrently accompanied by their appropriate verification and validation activities.

Motivation:
- EN50128 recommends it.
- Reduces technical and projects risks in the sense of failing to meet the planned costs, effort, time schedule, functional and non-functi

[2014-11-04 17:46] MarcBehrens opened #25 "US-Create-Verification-Plan Prio: 100"
As a Verifier (WP4), I need a plan and a method to know that to verify when and by which means. 

[2014-11-04 17:46] MarcBehrens opened #26 "US-Define-Verification-Task Prio: 417"
As a Verifier (WP4), I need a definition of the verification task. This implies the need of complete input and output to understand what the artifact is supposed to achieve.

[2014-11-04 17:47] MarcBehrens opened #27 "US-Define-Data-Structure Prio: 467"
As a verificator (WP4)  I need a structure of verification data described within the data flow of verification.

[2014-11-04 17:50] MarcBehrens opened #28 "US-Verify-Architecture-Model Prio: 505"
As an architect designer/modeller (WP3), I need my architecture (architecture description, data dictionary, SysML model) to be verified so that it is confirmed, that it fully complies to and covers  Subset-026.

[2014-11-04 17:52] MarcBehrens opened #29 "US-Define-Toolchain-Constraints Prio: 183"
As a openETCS tool provider (WP7), I need constraints defined to implement automatic checks into the toolchain.

[2014-11-04 17:54] MarcBehrens opened #30 "US-Verify-Behavioural-Model Prio: 605"
As a behaviour modeller (WP3), I need my SCADE behavioural model to be verified so that it complies to Subset-026.

[2014-11-04 17:56] MarcBehrens opened #31 "US-Verify-Safety-Objectives Prio: 150"
As the responsible owner of the openETCS, I want to have software which takes all relevant safety requirements into account in order to be able to reuse the openETCS product.

[2014-11-04 17:57] MarcBehrens opened #32 "US-Perform-Hazard-and-Risk-Analysis Prio: 217"
As the responsible owner of the openETCS, I want to have a Hazard and Risk Analysis in order to be able to reuse the openETCS product.

[2014-11-04 18:02] MarcBehrens opened #33 "US-Assess-Project-Results Prio: 117"
As a openETCS product owner (WP1), I want to have the project results assessed, in order to enforce the reuseability (consistency, correctness and completeness)  of the product results.   

[2014-11-04 18:10] MarcBehrens opened #34 "US-Provide-Role-Assignments Prio:195"
As an internal assessor (WP4) I need to have all roles assigned in order to do the assessment.

[2014-11-04 18:11] MarcBehrens opened #35 "US-Provide-Release-Managed-Versioning Prio: 701"
As a verifyer (WP4) I need a version evolution in design documents besides github in order to decide on which delta to verify.

[2014-11-04 18:13] MarcBehrens opened #36 "US-Provide-Product-Definition-ADD Prio: 905"
As a verifyer (WP4) I need one document summing up the contents of the product to be verified.

[2014-11-04 18:17] MarcBehrens opened #37 "US-Provide-Design-Means Prio: 850"
As a verifyer (WP4) I need a document describing all used design artifacts and tools in order to create a verification 'setup'.

[2014-11-14 10:36] jpaniagua opened #38 "US-Generate-Model-Info-Automatically Prio: tbd"
As a modeler I need an automaticly generated documentation of the data flow from a SysML model.

For generation of documentation we need to obtain a list of flow of SysML diagrams. The idea is not to generate documentacion manually, since the information is in SysML model. Maybe we need to put the description in some attribute of the data flow in diagram to obtain it automatically.

[2014-11-24 13:35] mahlmann opened #39 "US-ITEA-Review3-WP5-Demo Prio: 900"
As an ITEA reviewer, I want to have a presentation and a demonstration of the current state of the demonstrator at the March 2015 review, so that I can evaluate the project progress.

[2014-11-24 13:40] mahlmann opened #40 "US-Test-Environment-Remote-Access Prio: 200"
As a tester, I want to be able to execute the demonstrator EVC on another computer than the one used to run the test environment.

[2014-11-24 13:46] mahlmann opened #41 "US-Generic-API Prio: 870"
As a railway undertaking I want to have a generic EVC interface (API), so that interoperability of ETCS hard- and software is improved.

[2014-11-24 13:56] mahlmann opened #42 "US-Generic-Logical-Interface Prio: 595"
As a tester I want to have a logical interface between hardware and the simulation environment so that I can interface hardware of any manufacturer.

[2014-11-24 14:05] mahlmann opened #43 "US-Test-Scenario-Provision Prio: 200"
As a tester I want to have the track data of the Utrecht-Amsterdam track so that I can define test scenarios for that track.

[2014-11-24 14:14] mahlmann opened #44 "US-Scope-Of-Test Prio: 400"
As a tester I need to define goals and scope of the test so that I am able to define the test.

[2014-11-24 14:15] mahlmann opened #45 "US-Test-Scenario-Format Prio: 210"
As a tester I need a format to define the test scenarios of the overall test scenario specification.

[2014-11-24 14:16] mahlmann opened #46 "US-Test-Scenario-Definition Prio: 220"
As a tester I need to define the scenarios of the overall software test.

[2014-11-24 14:20] mahlmann opened #47 "US-Evaluate-Tests Prio: 250"
As a tester I need to evaluate the test results for the overall software test report.

[2014-11-24 14:29] mahlmann opened #48 "US-Test-Result-Processing-Tools Prio: 500"
As a test tool chain provider I want to analyse the test results and process them so that I can identify wether a detected deviation has its cause in the tool chain.

https://github.com/openETCS/toolchain/labels/US-Test-Result-Processing-Tools

[2014-11-24 14:31] mahlmann opened #49 "US-Test-Result-Assessment Prio: 175"
As a validator I have to assess the outcome of the tests in the context of the validation of the full development.

[2014-11-24 14:42] mahlmann opened #50 "US-Demonstrator-Non-Vital-Platform Prio: 600"
As a project manager I want to be able to run the demonstrator on a non-vital platform.

[2014-11-24 14:46] mahlmann opened #51 "US-Industrial-Tests Prio: 170"
As a project manager I want to subject the software on a non-vital platform to industrial tests.

[2014-11-24 14:54] mahlmann opened #52 "US-WP3-Model-Non-Vital-Platform Prio: 800"
As a project manager I want to be able to run the WP3 model on a non-vital platform.

[2014-11-26 15:50] #14 closed, assigned to jastram

[2014-12-03 14:00] mahlmann opened #53 "US-OBU-Model-Third-Iteration-Perimeter Prio: 930"
As a modeler I want to have a roadmap how the functionality of the reference OBU model will be increased for the third iteration.

[2014-12-03 14:03] mahlmann opened #54 "US-OBU-Model-Roadmap Prio: 1000"
As a modeler I want to have a scope of functionality of the OBU model for the final project goal, i.e. an OBU able to run on the Amsterdam Utrecht line.

[2014-12-03 14:48] mahlmann opened #55 "US-OBU-Model-Third-Iteration Prio: 990"
As a project leader I want to have a SysML and a Scade model according to the functionality of the OBU defined for the third iteration of work in WP3 (i.e. scenarios to be defined by @baseliyosjacob ).

[2014-12-03 16:09] mahlmann commented on #20
WP3 does not plan to use the Papyrus based data dictionary for the moment but only the scade based data dictionary.
@marcbehrens It has to be checked if this is in line with the processes in WP4

[2014-12-03 19:25] #6 closed, assigned to idelatorre

[2014-12-05 10:30] mahlmann opened #56 "US-Traceabiliy-Architecture Prio: 810"
As a modeller and verifier I need a traceability solution to support my activites

https://github.com/openETCS/toolchain/labels/US-Traceabiliy-Architecture

[2014-12-05 10:36] #16 closed, assigned to nobody

[2014-12-05 10:39] #15 closed, assigned to MatthieuPERIN

[2014-12-05 10:42] #8 closed, assigned to astante

[2014-12-09 13:30] mahlmann opened #57 "US-Demonstrator-Test-Result-Processing Prio: 190"
As a demonstrator provider I want to analyse the test results and process them so that I can identify whether a detected deviation has its cause in the demonstrator.

[2014-12-09 13:32] mahlmann opened #58 "US-Model-Result-Test-Processing Prio: 160"
As a designer I want to analyse the test results and process them so that I can identify whether a detected deviation has its cause in the design components.

[2014-12-10 10:17] MarcBehrens opened #59 "US-Verify-Code-against-Coding-Rules Prio: 190"
As a code implementer (WP3, WP5), I need my (hand-written) code to be verified, to comply to the openETCS coding rules.

[2014-12-10 10:29] MarcBehrens opened #60 "US-Verify-Code-against-Subset-026 Prio: 502"
As a code implementer (WP3, WP5), I need my (hand-written) code to be verified, to comply to Subset-026.

[2015-01-07 15:09] BaseliyosJacob opened #61 "US-Operational-Scenarios-on-Utrecht-Amsterdam Prio: 900"
As an operator (WP1) I want the model of the third iteration to be verified and validated against the following use cases

https://github.com/openETCS/modeling/labels/US-Operational%20Scenarios%20on%20Utrecht%20Amsterdam

[2015-01-07 15:15] BaseliyosJacob commented on #61
User stories should be considered by WP 4

[2015-02-06 08:52] mahlmann commented on #41
@mercementre
Can you please give an update on the current state of the generic API?

[2015-02-09 13:51] mahlmann commented on #53
As discussed in the grooming session on February 6th this backlog item is considered to be completed.

@berndhekele
Please add links to the corresponding issues in the WP3 issue tracker to document the progress respectively completion of this backlog item.

[2015-02-12 08:21] MERCEmentre commented on #41
I made a first draft with Train Interface and a low level message API. There were issues related to WP5. @Nicolas-VanLandeghem had questions. I don't know what is the current status with respect to WP5. I'll ask him.

[2015-02-12 21:24] BaseliyosJacob opened #62 "US-Test-Model-Scenari-on-Utrecht-Amsterdam"

[2015-02-13 08:32] mahlmann commented on #42
As pointed out by @Nicolas-VanLandeghem #41 needs to be completed before the state of this issue can be set to ready.  Otherwise a WP5 specific API has to be used.

[2015-02-13 14:05] mahlmann commented on #12
US is set to deferred until Formal Mind will be available in the project again.

[2015-02-13 14:06] mahlmann commented on #4
US is set to deferred until Formal Mind will be available in the project again.

[2015-02-16 09:24] MERCEmentre commented on #41
Status from @Nicolas-VanLandeghem:
"""
We stayed at status summarized hereunder.

From a WP5 point of view, we have 2 options :
1. wait for the WP3 API to be defined and then try to interface WP5 to this API,
2. use a WP5 specific API to interface with hardware.

Option 2 requires to perform the "interface" task twice (because after option 2, option 1 has to be achieved as well) but might probably

[2015-02-20 09:06] BaseliyosJacob commented on #62
WP 3 designer needs a test program within Scade from the WP 4 verifier to verify his design modules within the scope of Utrecht - Amsterdam scenarios. The test cases need to be agreed on between the designer and verifier.

[2015-02-23 09:11] BerndHekele commented on #53
https://github.com/openETCS/modeling/issues/66
https://github.com/openETCS/modeling/issues/67
https://github.com/openETCS/modeling/issues/68
https://github.com/openETCS/modeling/issues/69

[2015-02-23 09:11] #53 closed

[2015-03-08 22:32] BaseliyosJacob opened #63 "US-WP 3-Description of Work Prio:"

[2015-03-08 22:35] BaseliyosJacob commented on #63
As a WP 1 i need a description of work for WP 3. The description of work should contain the methods, process, tooldecision, roadmap, scope, ... and will be done by the WP 3 leader.

[2015-03-13 08:52] #5 closed

[2015-03-13 09:03] mahlmann commented on #63
The existing documents in https://github.com/openETCS/modeling/tree/master/DescriptionOfWork
have to be checked.

[2015-03-13 09:09] mahlmann commented on #63
Not considered relevant for the moment, issue will be closed.

[2015-03-13 09:09] #63 closed

[2015-03-13 09:29] astante commented on #5
In this branch: https://github.com/openETCS/toolchain/tree/feature-scade-integration under /tool/bundles/org.openetcs.sysml2scade.suite.transformation is the SysML2Scade transformation. The functionality of the plugin is finished (expect for bugs and minor code cleanups). However, as long as the issue with the Scade API is not solved, no integration in the automatic build process is possible. A so

[2015-03-13 10:46] MarcBehrens opened #64 "US-Internal-Assessment-Sign-Off"
As the Internal Assessor I need the findings of the Internal Assessment to be adressed and corrected.

https://github.com/openETCS/internal-assessment/issues

[2015-03-20 09:14] mahlmann opened #65 "US-OBU-Model-Match-To-Use-Case Prio: 990"
As an operator I want to match the use case to the proposed scope in #54.

[2015-03-20 12:55] faustco commented on #54
Text should read
As a modeler I want to have a scope of functionality of the OBU model for the next iteration.

[2015-03-27 08:56] mahlmann commented on #39
Review and WP5 demonstration has been completed.

[2015-03-27 08:56] #39 closed

[2015-04-16 13:05] mahlmann opened #66 "US-Provide-Product-Definition-D3.5.2-D3.6.2 Prio: 980"
As a verifyer (WP4) I need one document summing up the contents of the OBU model (D3.5.2, D3.6.2, i.e. third iteration model) to be verified.

[2015-04-16 13:09] mahlmann commented on #66
This user story refers to the ADD document which is still not in its final state (c.f. [https://github.com/openETCS/modeling/blob/master/openETCS%20ArchitectureAndDesign/ThirdIteration/openETCSArchitectureAndDesignSpecification.pdf](https://github.com/openETCS/modeling/blob/master/openETCS%20ArchitectureAndDesign/ThirdIteration/openETCSArchitectureAndDesignSpecification.pdf) ). However, the docume

[2015-04-17 07:54] mahlmann opened #67 "US-OBU-Model-D3.5.3-D3.6.3 Prio: 950"
As a project leader I want to have a SysML and a Scade model according to the functionality of the OBU defined for D3.5.3 and D3.6.3 in WP3 (i.e. scenarios to be defined by @baseliyosjacob ).

[2015-04-17 13:29] jastram opened #68 "US-Model-Building-CI Prio: 805"
As a modeler or V&V-expert, I would like Scade to automatically build the model when something changes, so that I know that the model has no (obvious) problems.

[2015-04-17 13:31] jastram commented on #68
This issue has been created after the discussion of this topic between @MarcBehrens and @jastram .

[2015-04-22 13:40] mahlmann commented on #55
#66 needs to be completed to finalize this US.

[2015-04-22 14:09] mahlmann commented on #30
US is currently blocked. The following issues need to be solved to unblock this US:
- [ ] model does currently not compile
- [ ] interfaces of the model need to be documented for verification

[2015-04-24 06:07] mahlmann opened #69 "US-Exploitation-Plans Prio: tbd"
As a funding authority I want to have a presentation of the individual short- and mid-term exploitation plans at the final review, so that it can be evaluated if the project results will be exploited appropriately.

[2015-04-24 06:16] mahlmann commented on #69
The presentation of individual exploitation plans has been requested in the conclusion and actions form of ITEA review #3.

As the time for the WP6 presentation is limited, it might be an option to have presentation by one representative partner of each business sector, e.g.
- operators,
- suppliers,
- service providers, etc.

The representative should however present the exploitation plans for al

[2015-04-27 18:30] jastram commented on #56
Trying to recruit @MarcPantel for this one.

[2015-05-08 13:01] #2 closed

[2015-05-08 13:04] jastram commented on #18
Considering that the Data Dictionary (at least the Eclipse-based one) is neither used, and considering that we lost Lukasz, the developer, I propose to change the status from DEFERRED to ABANDONED (closed).  To discuss this, I will move this issue back to the inbox.

[2015-05-08 13:10] jastram commented on #5
@mahlmann - this has been closed (fine with me), but it has not been properly documented why it has been closed, ans @astante comment suggests that we could still try to resolve the library integration.  Without the library integration, we cannot make this part of the Eclipse build.

How should be proceed here?  Options are:

1. Just close it
2. Reopen it to resolve the library issue
3. ???

@asta

[2015-05-11 14:46] mahlmann commented on #5
@jastram - I think the reason to close this issue was that plugin itself was considered to be completed ( @astante please correct me if I am wrong ). Feel free to reopen!

[2015-05-21 08:08] mahlmann commented on #66
After discussion during the WP3 workshop on May 20th we agreed that some effort is needed to finalize the documents. As a first step @abdelnasirmohamed and myself will come up with a proposal and template to split and restructure the current ADD document.

[2015-05-29 07:47] mahlmann commented on #18
Closed after discussion in grooming session.

[2015-05-29 07:47] #18 closed

[2015-06-05 07:54] #11 closed

[2015-06-05 08:02] BaseliyosJacob commented on #48
@MarcBehrens i think this issue has a wrong owner. Would this issue assign to WP 4? Can you give us a feedback!!

[2015-06-05 08:13] BaseliyosJacob commented on #66
New template was introduced on wednesday  by AEBT in small cluster meeting meeting. Next step is that the new template will be provided to the designer.

[2015-06-05 08:14] BaseliyosJacob commented on #66
@mahlmann will you be in charge of introducing the new structure of the ADD to the designer? In this case we should change the owner!!

[2015-06-05 08:18] BaseliyosJacob commented on #41
Shifted the issue to ready and reduce the priority since not so much work is going on there at the moment. If someboy is volunteer to invest ressources we can shift into process.

[2015-06-05 08:27] BaseliyosJacob commented on #35
A configuration management (configuration manager) needs to be be set up and therefore a configuration manager needs to be assigned (WP 1).

[2015-06-05 08:48] BaseliyosJacob commented on #28
@mahlmann and @abdelnasirmohamed will deliver a new structured ADD to the designer to complete.

[2015-06-08 07:02] mahlmann commented on #48
@BaseliyosJacob Since the user stories refers to bugs in the tool chain itself I think WP7 should be the owner of this issue. @jastram can you confirm this?

[2015-06-08 07:06] mahlmann commented on #66
I am already working on this issue.

[2015-06-09 20:09] jastram commented on #48
Well, it depends on what tools are being used.  As we currently have no open source test tools, I would indeed see this in WP4.  It could also be that this issue became obsolete with the choice of Scade Suite.  I think @MarcBehrens is in the best position to decide.

[2015-06-11 21:48] BaseliyosJacob opened #70 "US-V&V backlog as counter part of WP 3 User Story backlog Prio: 950"
As a modeller i would like to see a V&V backlog for the counter part of the WP 3 User Story backlog.

[2015-06-12 07:39] mahlmann commented on #66
A first version of the SCADE generated documentation is available here:
https://github.com/openETCS/modeling/tree/master/openETCSDesignDocuments/thirdIteration

The new version of D3.5.2 resides here (still under construction):
https://github.com/openETCS/modeling/tree/master/openETCS%20ArchitectureAndDesign/D3.5.2

[2015-06-16 08:57] MarcBehrens commented on #62
modeling of test specification of A-U is in progress

[2015-06-19 06:54] MarcBehrens commented on #25
relates to #22

[2015-06-19 06:55] MarcBehrens commented on #61
relates to #62

[2015-06-19 06:56] MarcBehrens commented on #43
track data has been provided, work in progress see #61 #62 issue can be closed

[2015-06-19 06:56] #43 closed

[2015-06-19 06:57] MarcBehrens commented on #49
dependant on #61 and #62 and planned to be moved to ready state once the first results from the afore mentioned issues are availabel

[2015-06-19 06:59] MarcBehrens commented on #31
a list of safety relevant requirements is needed here - grooming pending

[2015-06-19 07:22] mahlmann opened #71 "US-OBU-SysML-Model Prio: 948"
As a software architect or validator I want to have SysML models for the openETCS OBU components, which are linked to the corresponding SCADE components and allow hierarchical navigation through the OBU model.

[2015-06-19 07:24] mahlmann commented on #71
SysML models are also urgently needed for the ADD document, i.e. D3.5.2, c.f. #66 .

[2015-06-19 07:31] MarcBehrens commented on #70
a first set was groomed, see [validation repository](https://github.com/openETCS/validation/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+Verification+User+Story)

the missing set is planned to be groomed next week

[2015-06-19 07:46] MarcBehrens commented on #29
There are two different interfaces related to SCADE where from my perspective these checks are useful for validation of inputs.
- the interface into SCADE, e.g. the Test Generation by RT-Tester @jpeleska
  ensuring that the tests generated have the correct interface
- the build process and automated checks for verification
  ensuring e.g. that all models are build and all sss scripts are executed.

[2015-06-19 07:50] mahlmann commented on #61
duplicate of #61 . closed.

[2015-06-19 07:50] #61 closed

[2015-06-19 07:53] MarcBehrens commented on #29
could you detail on your tool constraints please @matthieupoirot

[2015-06-19 07:56] MarcBehrens commented on #65
double to #70

[2015-06-19 07:56] #65 closed

[2015-06-19 07:57] MarcBehrens commented on #59
grooming needed here

[2015-06-26 08:00] mahlmann opened #72 "US-Process-Definition Prio: tbd"
As a project manager and validator I want to have a process definition (D2.3) describing the development processes and the steps needed to make the process CENELEC conform and usable in openETCS.

[2015-06-26 08:04] #70 closed, assigned to MarcBehrens

[2015-06-26 08:08] mahlmann opened #73 "US-Master-Branch-Error-Free Prio: 500"
As a verificator I want to have a development master branch which is always error and warning free.

[2015-06-30 09:56] mahlmann commented on #66
As the next iteration of the model (D3.5.3 and D3.6.3) is already in progress and soon to be completed it has been decided to concentrate on the documentation of D3.5.3 (system model) and D3.6.3 (functional model) instead of documenting the outdated D3.5.2 and D3.6.2.

[2015-06-30 09:58] mahlmann opened #74 "US-Provide-Product-Definition-Lifecycle Prio: 890"
As a verifyer (WP4) I need documents summing up the relevant lifecycle documents of the OBU development to be verified, i.e D3.5.3 describing the system model and D3.6.3 describing the functional model.

[2015-06-30 10:00] mahlmann commented on #66
The next iterations documention will be covered by #74 .

[2015-06-30 10:05] mahlmann commented on #71
For details on the progress see openETCS/modeling/issues/489

[2015-06-30 14:33] mahlmann commented on #74
The current state of D3.5.3 is available here: https://github.com/openETCS/modeling/tree/master/openETCS%20ArchitectureAndDesign/D3.5.3

[2015-07-01 06:19] mahlmann commented on #12
@BerndHekele @BaseliyosJacob @iweigelt @jastram @MarcBehrens
Until deferred this was a high priority user story. Since Formal Mind is available in the project again I would like to clarify ...
- if there is still need for better support to work concurrently with other users,
- and if so, wether there are resources available in WP7 to work on this issue.

[2015-07-01 06:40] jastram commented on #12
There are broadly two approaches to team work: (1) central database, and (2) file-based, with repository technology.  We currently follow (2).

Migrating to (1) is not an option with the available resources.  Having said that, it may be possible to use (1) for certain artefacts.  For instance, if Scade Suite offers a central server, it could be interesting to migrate there.  But this would be out

[2015-07-02 15:16] BerndHekele commented on #12
In my opinion this issue is still open. I agree with Michael: a fulblown solution is not affordable with available resources.

However, I see issues in handling github for artefacts like our Scade models or SysML (as discussed last week in the WP3 slot).

Maybe, a proper guidance on how to do things would be a workaround in the context of a small team.

[2015-07-03 07:52] #66 closed

[2015-07-03 07:52] #55 closed

[2015-07-03 08:05] mahlmann commented on #60
related to openETCS/datadictionary#31

[2015-07-10 08:13] BaseliyosJacob commented on #35
Starting of a first work

[2015-07-10 08:14] BaseliyosJacob commented on #36
Part of the ADD Document

[2015-07-10 08:23] BaseliyosJacob commented on #54
This is defined in the US Stories which contain the functional requirements specification.

[2015-07-10 08:26] BaseliyosJacob commented on #21
Process description compliant to EN 50128 will is delivered in WP 2 D 2.3.a.

[2015-07-10 08:32] BaseliyosJacob commented on #64
Needs to be discussed on i high level meeting and need decision of either to work on the  issue or document it as recommendation for future projects

[2015-07-17 08:09] MarcBehrens commented on #29
Concerning: ESP Simulator Will be discussed with @Matthieupoirot next Tuesday

[2015-07-17 08:22] BaseliyosJacob commented on #35
Active release plan is provided and ready for review

[2015-07-24 07:52] BaseliyosJacob commented on #62
Completed for the balise and radio. At the moment in debugging phase

[2015-07-24 07:57] BaseliyosJacob commented on #30
US is currently blocked #601.

[2015-07-24 08:00] BaseliyosJacob commented on #60
Consider  https://github.com/openETCS/modeling/issues/303 and https://github.com/openETCS/validation/issues/294

[2015-07-24 08:03] BaseliyosJacob commented on #22
Need to be merged D 2.3 and 2.3a.

[2015-07-24 08:05] BaseliyosJacob commented on #22
Review will be opened after merge with D2.3.

[2015-07-24 08:12] BaseliyosJacob commented on #40
Current binary and source code already implemented with the ERSA EVC. Needs to be reviewed.

[2015-07-24 08:12] BaseliyosJacob commented on #40
https://github.com/openETCS/demonstrator/tree/master/Binaries

[2015-07-24 08:13] BaseliyosJacob commented on #40
Next step is to integrate the openETCS EVC and write the glue code

[2015-07-31 08:16] mahlmann commented on #74
@janWelte @MarcBehrens @FrancoisRevest @abdelnasirmohamed @FrederiqueVallee @BaseliyosJacob @mahlmann
Coordination on relevance of documents for lifecycle is needed.

[2015-07-31 08:25] mahlmann commented on #36
The current state of D3.5.3 is available here: https://github.com/openETCS/modeling/tree/master/openETCS%20ArchitectureAndDesign/D3.5.3

[2015-08-07 07:55] #68 closed

[2015-08-07 07:57] mahlmann commented on #22
Merge is currently evaluated by @hardihungar

[2015-08-07 07:58] mahlmann commented on #25
On hold until #22 is completed, i.e. D2.3 and D2.3a documents are merged.

[2015-08-07 08:06] mahlmann commented on #72
Duplicate of #22. This issue will be closed.

[2015-08-07 08:06] #72 closed, assigned to nobody

[2015-08-07 08:25] mahlmann commented on #41
The API will be part of the interface from the SCADE model to the ERSA software.

[2015-08-13 08:08] MERCEmentre commented on #7
Current status:
- We can build a demonstrator for a given SysML diagram
- We cannot make a generic translator. To much Java development would be required (@jastram and @iweigelt opinion on 2015-08-13).

[2015-08-13 08:23] MERCEmentre commented on #41
Hello @mahlmann! Who is going to work in this issue? ERSA? Who at ERSA?

[2015-08-13 08:45] MatthieuPoirot commented on #41
My team and I are working on this issue.

[2015-08-14 07:51] mahlmann commented on #73
Related to openetcs/modeling#643

[2015-08-14 08:12] mahlmann commented on #3
Test plan has been completed, a test plan presentation will be available on the projects youtube channel.

[2015-08-14 08:12] #3 closed

[2015-08-14 08:18] mahlmann opened #75 "US-SysML-to-B-demonstration Prio: 410"
As a modeller I want to know the migration path from SysML to B so that I can implement the model with open tools.

[2015-08-14 09:25] jastram opened #76 "US-Scade-to-Open Prio: 600"
As a user, I want to convert the Scade Suite artefacts into an open format, so that I can consume them outside Scade

[2015-08-14 09:26] #7 closed

[2015-09-04 07:36] mahlmann opened #77 "US-OBU-SysML-SCADE-ADD-consistency Prio: 610"
As a modeller/validator I want the OBU SysML model, SCADE functional model and architecture and design description (ADD, D3.5.x) to be consistent.

[2015-09-04 08:06] mahlmann opened #78 "US-EVC-Visualization Prio: 290"
As a modeler I want to improve visualization independent from the SCADE Suite prototype.

[2015-09-04 08:10] mahlmann opened #79 "US-ETCS-System-Modularization Prio: 300"
As a modeller I want the EVC to be separated from the environment systems (track, RBC, DMI, environment, visualization).

[2015-09-04 08:23] mahlmann opened #80 "US-Assessable-Plans Prio: 590"
As the internal assessor I want to have assessable project plans (lifecycle phase planing).

[2015-09-11 08:01] #54 closed

[2015-09-11 08:15] mahlmann commented on #78
Relates to a graphical interface based on QT library created by Siemens.

[2015-09-11 08:21] mahlmann commented on #80
Software Configuration Management (SCM) document currently has no product owner.
@klausruedigerhase @baseliyosjacob
Please get in contact with Alstom to assign a person responsible.

[2015-09-11 09:02] MarcBehrens commented on #80
The Internal Assessment Plan has been uploaded and a request for review
https://github.com/openETCS/internal-assessment/issues/55
to all 'key costomer' (in this case producing documents to be assessed)
by 24.09.2015.

[2015-09-18 08:40] MarcBehrens commented on #32
blocked due to the impediment that the high level architecture oth the complete system  is not available

[2015-09-18 08:42] MarcBehrens commented on #32
the question on: Who is 'drawing' the missing blocks inside the ADD document is still open

[2015-09-18 08:45] MarcBehrens commented on #49
grooming of the testplan has been performed, the next step is:

testplan to be drafted in LaTeX

[2015-09-23 08:23] mahlmann commented on #32
Actions are taken and documented in openetcs/modeling#754 to unblock this US.

[2015-09-24 08:40] MarcBehrens commented on #32
The high level SysML architecture is identified to be a viral part which is expected to be documented inside the ADD document.

[2015-09-24 08:40] MarcBehrens commented on #31
related to #32

[2015-09-24 08:46] MarcBehrens commented on #56
@raphaelfaudou currently the traceability provided by SCADE inside a comment function and inside the SCADE Rrquirements Gateway is used.

[2015-09-24 08:47] MarcBehrens commented on #28
handled in this issue: https://github.com/openETCS/validation/issues/305

[2015-09-24 08:48] MarcBehrens commented on #24
@hardihungar this topic should also be addressed inside the VnV Plan.

[2015-09-25 08:06] mahlmann opened #81 "US-Traceability Prio: 550"
As a user I want to understand the traceability architecture so that I can understand my traqceability activities.

[2015-09-25 08:24] mahlmann commented on #56
Syncronization on WP4 requirements on traceability is ongoing.

[2015-10-01 11:00] MarcBehrens commented on #81
Hi Michael,

the requirements for the toolchain were defeined and revised inside https://github.com/openETCS/requirements/blob/master/D2.6-9/D2_6-9.pdf.

Specially the part R-WP2/D2.6-02-079 ff is relevant for WP4.

Kind regards,
Marc

[2015-10-02 07:53] mahlmann commented on #73
Handed over from WP7 to WP3 for implementation.

[2015-10-02 08:06] mahlmann commented on #80
Review and revision of the assessment plan has been successfully completed.

[2015-10-08 15:41] MarcBehrens commented on #22
a process description for reduced architecture verification has been groomed: https://github.com/openETCS/validation/wiki/Small-How-To-in-checking-the-SCADE-Architecture-of-the-EVC

[2015-10-09 08:12] BerndHekele commented on #50
The Demonstrator is available in a first draft version.

[2015-10-09 14:52] MERCEmentre commented on #75
I made a demonstrator working with a (modified) SysML diagram of openETCS (Marielle's Level diagram): https://github.com/openETCS/modeling/tree/master/demo/SysML2B

A Java file needs to be edited to match local configuration:
https://github.com/openETCS/modeling/blob/master/demo/SysML2B/LevelLunaModelGenerator/src/levellunamodelgenerator/Application.java#L23

Then, "Run as..."->"Eclipse Applicatio

[2015-10-16 07:25] mahlmann commented on #32
A major update of the SysML model has been uploaded. Still missing are
- TrackAtlas overview in F2
- TrackAtlas internal structure
- DMI input
- DMI output
- TIU input
- TIU output

I will take action on the TrackAtlas overview as soon as openETCS/modeling#810  is closed. For the remaining diagrams I don't see a timeline currently.

[2015-10-16 07:49] mahlmann commented on #50
A demonstration of the DMI EVC separation (PC based) has been demonstrated at Test4Rail inside the DLR laboratory.

[2015-10-16 07:52] MatthieuPoirot commented on #41
A first delivery for the Genereci Interface has been delivered on WP5 folder: https://github.com/openETCS/demonstrator/tree/master/Sources/M5.3.2%20-%20Basic%20Demonstrator%20Release%201.
This delivery is focused on demonstrating TIU and odometry mainly, the implementation for the next steps will come in another delivery.

[2015-10-16 07:58] MarcBehrens commented on #32
The first version of the openETCS EVC SysML model has been provided as an input to the error propagation analysis and can be found here https://github.com/openETCS/modeling/tree/master/model/sysml/openETCS_EVC .
@mahlmann will continue to enhance F2.
If you need more information @fvallee for the error propagation analysis, please use this issue.

[2015-10-16 08:01] mahlmann commented on #28
First findings have been reported.

[2015-10-16 08:03] mahlmann commented on #62
Debugging phase has been closed. Currently this is in integration phase.

[2015-10-16 08:05] mahlmann commented on #60
First step of integrating the Bitwalker into the EVC was taken during a workshop between Fhg and DLR at the 8th of October.

[2015-10-16 08:11] mahlmann commented on #80
@faustco
Please give an update on the state of the SCMP which is currently incomplete, c.f. https://github.com/openETCS/governance/blob/master/SCMP/SCMP_0.0.1.pdf

[2015-10-16 08:18] mahlmann commented on #4
Action on this will be taken again.

[2015-10-19 12:10] mahlmann commented on #32
TrackAtlas overview in F2 has been completed and the other overview diagrams in F2 have been updated accordingly.

[2015-10-19 12:13] mahlmann commented on #77
SysML, SCADE Suite functional model and ADD have been revised and are consistent now.  Though, minor inconsistencies might appear when TrackAtlas or MoRC components will be exchanged in the near future.

[2015-10-23 07:47] mahlmann commented on #30
Test generation with RT-Tester is currently in progress. Current focus is on User Story 14.

[2015-10-23 07:57] mahlmann commented on #80
@faustco has been contacted and will look into the SCMP document and finalize the deliverable until next week.

[2015-10-23 08:02] mahlmann commented on #32
SysML model is ready for error propagation analysis.

[2015-10-23 08:05] #77 closed, assigned to mahlmann

[2015-10-23 08:08] mahlmann commented on #41
ERSA is working on the next iteration, which will include radio communication, balises and automatic drive.

[2015-10-23 08:12] mahlmann commented on #21
Next step would be the integration of D2.3a and D2.3.

[2015-10-23 08:14] mahlmann commented on #34
Due to ressource constraints this US will be deferred.

[2015-11-05 15:11] mahlmann opened #82 "US-OBU-Model-D3.5.4-D3.6.4"
As a project leader I want to have a SysML and a Scade model according to the functionality of the OBU defined for D3.5.4 and D3.6.4 in WP3.

[2015-11-05 15:23] mahlmann opened #83 "US-Document-Approbation Prio: 90"
As the project manager I want to have a hardcopy of each deliverables according to the FPP, signed by the lead author, technical assessor, quality assessor, and the project lead.

[2015-11-06 08:47] #67 closed

[2015-11-06 08:47] #71 closed, assigned to mahlmann

[2015-11-06 08:47] #36 closed

[2015-11-06 08:51] mahlmann commented on #37
@marcbehrens Please check if this US can be considered completed with the D3.5.3/D3.6.3 release.

[2015-11-20 08:50] mahlmann commented on #41
@berndhekele will provide a first version of the textual deliverable by November 27th as decided on the Alstom/DB workshop (cf. https://github.com/openETCS/modeling/wiki/Alstom-DB-November-Workshop )

[2015-11-20 08:57] mahlmann commented on #22
Merge of D2.3 and D2.3a is completed.

[2015-11-20 10:20] dalzilio commented on #76
redundant issue, it can be closed or merged with these other issues

answer is covered by issues 500 and 505:
https://github.com/openETCS/toolchain/issues/500
https://github.com/openETCS/toolchain/issues/505

[2015-11-26 13:36] MERCEmentre commented on #75
Status update: Acceleo and the model has been included in official tool-chain. I need to check that everything works as expected.

[2015-12-09 21:05] jastram commented on #81
Closing, as suggested by @mahlmann on 3-Dec-15, as nobody objected.

[2015-12-09 21:06] jastram commented on #76
Closing, as suggested by @mahlmann on 3-Dec-15, as nobody objected.

[2015-12-09 21:06] #76 closed, assigned to dalzilio

[2015-12-09 21:06] jastram commented on #4
Closing, as suggested by @mahlmann on 3-Dec-15, as nobody objected.

[2015-12-09 21:06] jastram commented on #4
Closing, as suggested by @mahlmann on 3-Dec-15, as nobody objected.

[2015-12-09 21:06] #4 closed

[2015-12-15 13:48] MERCEmentre commented on #75
Tested on v1.0.1-final. It does not work: "java.io.IOException: '/org/openetcs/sysml2b/transformation/common/main/m_MainSysMLTransform.emtl' not found".

Indeed, *.emtl files (Acceleo compiled filed) are missing into plugins\org.openetcs.sysml2b.transformation_1.0.1.201512092102.jar file. *.mtl (Acceleo source files) are correctly put in the jar file.

We won't fix because it was last release so y

[2015-12-16 09:54] jastram commented on #13
Closed after discussion with @astante .

[2015-12-16 09:54] #13 closed

[2015-12-16 09:54] jastram commented on #75
Closed, as discussed.

[2015-12-16 09:54] #75 closed, assigned to MERCEmentre

[2015-12-16 09:55] jastram commented on #9
Closed, as completed.

[2015-12-16 09:55] #9 closed